#container {
    display: grid;
    grid-gap: 10px;
  }
  #navbar {
    grid-area: nav;
  }
  .main-doc {
    grid-area: content;
  }
  /* mobile devices, tablets */
  @media (min-width: 320px) and (max-width: 768px) {
    #container {
      grid-template-columns: 1fr;
      grid-template-areas:
        "nav"
        "content";
    }
  }
  /* small screens, laptops, desktops, large screens, extra large screens, TV */
  @media (min-width: 769px) {
    /* navbar should be shown on the left half of the screen */
    #container {
      grid-template-columns: 320px 1fr;
      grid-template-areas:
      "nav" "content";
    }
  }
  .nav-link {
    display: block;
  }